@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  h1 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold;
  }
}

h1,
h2,
h3 {
  @apply text-gray-900 dark:text-gray-100;
}

h1 {
  @apply leading-[1.15] lg:leading-[1.05];
}

h2 {
  @apply leading-tight lg:leading-[1.15];
}
h3 {
  @apply leading-snug lg:leading-tight;
}